<div class="col-md-6 offset-md-3">
    <h3> Update Employee </h3>
    <br>
    <div  class="shadow-lg p-3 mb-5 bg-white rounded">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName"> First Name </label>
            <input type="text" name="firstName" id="firstName" class="form-control"
            [(ngModel)]="employee.firstName">
        </div>
        <br>
    
        <div class="form-group">
            <label for="lastName"> Last Name </label>
            <input type="text" name="lastName" id="lastName" class="form-control"
            [(ngModel)]="employee.lastName">
        </div>
        <br>
    
        <div class="form-group">
            <label for="emailId"> Email Id </label>
            <input type="text" name="emailId" id="emailId" class="form-control"
            [(ngModel)]="employee.emailId">
        </div>
        <br>
    
        <button class="btn btn-success" type="submit"> Submit </button>
    
    </form>
    </div>
    </div>